.note_container {
  margin-top: 66px;
}

.note_container h2 {
  color: white;
}

.card_container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

.dropdown:first-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  /* padding-left: 20px; */

  margin-left: -40px;
}
.dropdown:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding-left: 50px;
}

.dropdown_act:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.containerr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerr h1 {
  color: rgb(236, 160, 160);
}

.card {
  height: calc(100% - 49px);
  background-color: rgb(102, 178, 255);
}

.card:hover {
  box-shadow: 0 0 11px rgb(125, 190, 255);
}

@media only screen and (max-width: 550px) {
  .card_container {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 551px) {
  .card_container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 850px) {
  .card_container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 820px) {
  .containerr h1 {
    font-size: small;
  }
}

.icon {
  background-color: transparent;
  float: right;
  color: #000;
  margin-right: 15px;
}

.icon:hover {
  cursor: pointer;
}
