@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a1929;
  font-family: "IBM Plex Sans", sans-serif;
}
